@mixin cssmenu {
  position: fixed;
  overflow: visible; //Must be hidden
  background: #6B63B5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}

@mixin button1 {
  color: #fff;
  display: inline-block;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  border-color: #6B63B5;
}

@mixin button2 {
  color: #fff;
  display: inline-block;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  border-color: #6B63B5;
}

@mixin logohp {
  background-image: url('/images/hplogo.png');
  background-position: center;
  background-repeat: no-repeat;
}

@mixin filter {
  position: static;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
}

@mixin myimg {
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

@mixin icon-background {
  position: absolute;
  width: 210px;
  height: 265px;
  left: 0px;
  top: 0px;
  bottom: 0px;
}

@mixin icon-background-sm {
  width: 150px;
  height: 100px;
}

@mixin card-horizontal {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  filter: drop-shadow(0px 24px 64px rgba(0, 0, 0, 0.04));
}

@mixin card-title {
  position: absolute;
  font-family: 'Open Sans';
  font-style: normal;
  color: #081F32;
}

@media (min-width: 501px) {
  #cssmenu {
    @include cssmenu();
    top: 0;
    margin: auto;
    right: 17%;
    width: 281px;
    height: 36px;
    border-radius: 0 0 10px 10px;
  }

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px !important;
    margin-top: 100px;
  }

  #button1 {
    @include button1();
    width: 288px;
    height: 67px;
    margin-right: 100px;
  }

  #button2 {
    @include button2();
    width: 288px;
    height: 67px;
    margin-right: 100px;
  }

  .logohp {
    @include logohp();
    background-size: 250px;
    height: 100px;
  }

  .filter {
    @include filter();
    width: 438px;
    height: 85px;
    font-size: 36px;
    line-height: 25px;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  #buttoncontainer {
    margin-bottom: 120px;
    text-align: center;
  }

  .myimg {
    @include myimg();
    width: 170px;
    height: 170px;
    margin: 40px 20px;
  }

  .icon-backgroundGrif {
    @include icon-background();
    background: linear-gradient(135deg, #FF0000 0%, #FED482 100%);
    border-radius: 16px 0px 0px 16px;
  }

  .icon-backgroundSlyt {
    @include icon-background();
    background: linear-gradient(135deg, #1C792B 0%, #82E95E 100%);
    border-radius: 16px 0px 0px 16px;
  }

  .icon-backgroundHuff {
    @include icon-background();
    background: linear-gradient(135deg, #FFC700 0%, #FFF388 100%);
    border-radius: 16px 0px 0px 16px;
  }

  .icon-backgroundRave {
    @include icon-background();
    background: linear-gradient(135deg, #0597B7 0%, #66D1FF 100%);
    border-radius: 16px 0px 0px 16px;
  }

  .noclass {
    @include icon-background();
    background-color: #fff;
    border-radius: 16px 0px 0px 16px;
  }

  .card-horizontal {
    @include card-horizontal();
    display: flex;
    flex: 1 1 auto;
    max-width: 540px;
    width: 515px;
    height: 265px + 2px;
    border-radius: 16px;
    margin-bottom: 35px;
  }

  .card-title {
    @include card-title();
    width: 226px;
    height: 46px;
    left: 235px;
    top: 64px;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
  }

  .card-text {
    position: absolute;
    height: 112px;
    left: 235px;
    top: 131px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 27px;
    color: #374A59;
  }

  .card-obituary {
    position: static;
    width: 33px;
    height: 19px;
    left: 0px;
    top: 0px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #999999;
  }

  .card-bookmark {
    position: absolute;
    left: 91.84%;
    right: 4.27%;
    top: 8.3%;
    bottom: 83.4%;
    cursor: pointer;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
  }

  .card-body {
    margin-left: 210px;
    background-color: #fff;
    border-radius: 0px 16px 16px 0px;
  }

  .card-body-rip {
    margin-left: 210px;
    background-color: #ccc;
    border-radius: 0px 16px 16px 0px;

    max-width: 540px;
    width: 515px;
    height: 265px;
    margin-bottom: 35px;
  }


}


.favmenu {
  color: #000;
  display: none;
}

.thumb {
  width: 38px;
  height: 38px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  margin: 40px 20px;
}





.favorites {
  float: left;
  margin-left: 20px;
  display: block;
  padding: 5px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

.add {
  float: right;
  margin-right: 20px;
  display: block;
  padding: 5px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/hogwarts.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
}







#button1:hover {
  background: rgba(107, 99, 181, 0.6);
  border-radius: 4px;
  border-color: #6B63B5;
}

#button1:active {
  background: #6B63B5;
  border-radius: 4px;
  border-color: #6B63B5;
}



#button2:hover {
  background: rgba(107, 99, 181, 0.6);
  border-radius: 4px;
  border-color: #6B63B5;
}

#button2:active {
  background: #6B63B5;
  border-radius: 4px;
  border-color: #6B63B5;
}






.fa-bookmark {
  color: rgb(185, 180, 180);
}

.fa-bookmark:hover {
  color: rgb(5, 37, 16);
}







@media (max-width: 500px) {
  #cssmenu {
    @include cssmenu();
    bottom: 0;
    left: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 36px;
    border-radius: 10px 10px 0 0;
  }

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 500px !important;
    margin-top: 20px;
  }

  #button1 {
    @include button1();
    width: 150px;
    height: 67px;
    margin-right: 10px;
  }

  #button2 {
    @include button2();
    width: 150px;
    height: 67px;
    margin-right: 10px;
  }

  .logohp {
    @include logohp();
    background-size: 120px;
    height: 70px;
  }

  .filter {
    @include filter();
    width: 300px;
    height: 55px;
    font-size: 20px;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #buttoncontainer {
    margin-bottom: 60px;
    text-align: center;
  }

  .myimg {
    @include myimg();
    width: 70px;
    height: 70px;
    margin: 20px 40px;
  }

  .icon-backgroundGrif {
    @include icon-background-sm();
    background: linear-gradient(358.61deg, #FF0000 4.67%, #FED482 96.97%);
    border-radius: 5px 5px 0px 0px;
    //transform: rotate(90deg);
  }

  .icon-backgroundSlyt {
    @include icon-background-sm();
    background: linear-gradient(358.61deg, #1C792B 4.67%, #82E95E 100%);
    border-radius: 5px 5px 0px 0px;
  }

  .icon-backgroundHuff {
    @include icon-background-sm();
    background: linear-gradient(358.61deg, #FFC700 4.67%, #FFF388 100%);
    border-radius: 5px 5px 0px 0px;
  }

  .icon-backgroundRave {
    @include icon-background-sm();
    background: linear-gradient(358.61deg, #0597B7 4.67%, #66D1FF 100%);
    border-radius: 5px 5px 0px 0px;
  }

  .noclass {
    @include icon-background-sm();
    background-color: #fff;
    border-radius: 16px 0px 0px 16px;
  }

  .card-horizontal {
    @include card-horizontal();
    max-width: 151px;
    width: 151px;
    height: 211px;
    border-radius: 5px;
    margin-bottom: 35px;
  }

  .card-title {
    @include card-title();
    width: 140px;
    height: 46px;
    left: 10px;
    top: 100px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
  }

  .card-text {
    display: none;
  }

  .card-obituary {
    position: static;
    bottom: 10px;
    width: 26px;
    height: 15px;
    left: 9px;
    top: 138px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 14px;
    color: #999999;
  }

  .card-bookmark {
    position: absolute;
    left: 77.14%;
    right: 8.57%;
    top: 79.01%;
    bottom: 8.84%;
    cursor: pointer;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
  }

  .card-body {
    margin-top: 40px;
  }

  .card-body-rip {
    margin-left: 0px;
    max-width: 151px;
    width: 151px;
    height: 211px;
    bottom: 10px;

  }
}